* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.header {
	height: 200px;
	background: green;
	position: relative;


}

.header-div {
	background: red;
	position: relative;
	width: 300px;
	margin: auto;
	
}

.headet-text {
	
}

.header-img {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}