* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	position: relative;
	display: inline-block;
}

.dropbtn{
	background: #4CAF50;
	padding: 16px;
	color: #FFF;
	border: none;
}

.drop {
	display: none;
	/*z-index: 1;*/
	min-width: 160px;
	position: absolute;
	border: 1px solid #000;
}

.menu:hover .drop {
	display: block;
}

a {
	display: block;
	padding: 12px 16px;
	background: #fff;
}
