* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.drop_line {
	position: relative;
	display: inline-block;
}

.drop_button{
	padding: 16px;
	border: 1px solid rgba(0, 0, 0, .1);
	float: left;
}

.dropped_p {
	display: none;
	width: 500px;
	height: 300px;
	border: 1px solid rgba(0, 0, 0, .1);
	position: absolute;
	top: 100px;
	left: 100px;
}

.drop_button:hover .dropped_p {
	display: block;
}
.
.drop {
	display: none;
	/*z-index: 1;*/
	min-width: 160px;
	position: absolute;
	border: 1px solid #000;
}

.menu:hover .drop {
	display: block;
}

a {
	display: block;
	padding: 12px 16px;
	background: #fff;
}