body {
	margin: 0;
}

.header {
	background: rgb(63,94,251);
	background: linear-gradient(21deg, rgba(63,94,251,1) 0%, rgba(252,70,192,1) 100%);
}

/*.gradient {
	background: rgb(9,81,152);
	background: linear-gradient(121deg, rgba(9,81,152,1) 0%, rgba(30,125,43,1) 100%);
	width: 100%;
	height: 500px;
	margin: 100px 0 0 0;
	text-align: center;
}

.for_name {
	padding: 30px;
}

.name {
	color: #fff;
	font: bold 50pt sans-serif;
}

.name_2 {
	color: rgba(255, 255, 255, 0.5);
	font: 15pt sans-serif;
}

.for_main_buttom {
	margin: 0 auto;
}

.main_buttom {
	background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);;
	width: 150px;
	height: 40px;
	border: solid 1px rgba(255, 255, 255, 0.1);
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.65);
	margin: 0 5px;
}